  <!-- Scripts -->
  
  <!-- Select 2 -->
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  <!-- Touch Spinner -->
  <script src="/plugins/touch-spinner/jquery.bootstrap-touchspin.min.js"></script>
  
  <script src="js/ventas-form-script.js"></script>

</body>
</html>