<%- include("partials/head.ejs") %> 

<main class="container-fluid p-0">
  <div class="row" >
    <div class="col-md-4 banner-container">
      <%- include("partials/banner.ejs") %> 
    </div>
    <div class="col-md-8 p-4 form-container" >
      <%- include("partials/form") %> 
    </div>
  </div>
</main>

<!-- Scripts -->
<script src="js/ventas-form-script.js"></script>
<%- include("partials/footer.ejs") %> 